.slider {
    position: relative;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    background: #ddd;
    margin-top: 60px;
}

.slider-inner {
    height: 100%;
    transition: transform 0.45s ease;
}

.arrow {
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
}

.arrow.left {
    left: 25px;
}

.arrow.left>i {
    transform: translateX(-2px);
}

.arrow.right {
    right: 25px;
}

.arrow.right>i {
    transform: translateX(2px);
}

.arrow.left:hover,
.arrow.right:hover {
    transform: scale(1.1);
}

.slide {
    height: 100%;
    width: 600px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}